<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="true">

  <variable name ="appName" value="ItemPriceCharts"/>
  <!-- Writing to file -->
  <targets>
    <target name="logfile"
            xsi:type="File"
            fileName="${specialfolder:folder=LocalApplicationData:cached=true}\${appName}\logFile.log"
            layout="${date} | Thread:${threadname}${threadid} | ${logger} | ${level:uppercase=true} | ${message}"
            encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>